
<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%=homeStarting%></p>



    <%Posts.forEach(function(post){ %>
    <%console.log(post.Title)%>
    <%console.log(post.Text)%>
    <%})%>

    

<%- include('partials/footer'); -%> 